In [1]:
abs(-1)

1

In [2]:
round(3.1)

3

In [3]:
text ='saya ingin menjadi seorang data scientis'

In [4]:
text.lower()

'saya ingin menjadi seorang data scientis'

In [5]:
text.upper()

'SAYA INGIN MENJADI SEORANG DATA SCIENTIS'

In [6]:
text.strip()

'saya ingin menjadi seorang data scientis'

In [7]:
text.split()

['saya', 'ingin', 'menjadi', 'seorang', 'data', 'scientis']

In [8]:
'_'.join(text.split())

'saya_ingin_menjadi_seorang_data_scientis'

In [9]:
text.replace('a','o')

'soyo ingin menjodi seorong doto scientis'

In [10]:
type(text)

str

In [12]:
type(umur)

int

In [ ]:
#conditional, looping,dan user-definition

In [22]:
umur =20

In [14]:
if umur <17:
    print('anak-anak')
else:
     print('bukan anak-anak')

anak-anak

In [23]:
if umur <17:
    print('anak-anak')
elif 17<=umur<=20:
    print('remaja')
else:
     print('bukan anak-anak')

remaja

In [24]:
number1=range(7)
list(number1)

[0, 1, 2, 3, 4, 5, 6]

In [28]:
for i in number1:
    print('proses :',i)
    jumlah = jumlah + i
print(jumlah)

proses : 0
proses : 1
proses : 2
proses : 3
proses : 4
proses : 5
proses : 6
51

In [34]:
a=0
i=0
while i<10:
    print('iterasi ke:',i)
    a=a+i
    i=i+1
print(a)

iterasi ke: 0
iterasi ke: 1
iterasi ke: 2
iterasi ke: 3
iterasi ke: 4
iterasi ke: 5
iterasi ke: 6
iterasi ke: 7
iterasi ke: 8
iterasi ke: 9
45

In [35]:
def my_func():
    print('hello word')

In [38]:
def luas (p,l):
    luas = p*l
    print('luas: ',luas)
    return (luas)

In [39]:
luas(4,5)

luas:  20

20