In [1]:
from luwiji.knn import illustration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/home/yulius/miniconda3/envs/jcopml/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

### Siapkan data tanpa fillna dan get_dummies

In [4]:
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv('/home/yulius/Latihan-Data-Science/Data/titanic.csv',index_col='PassengerId')
df.drop(columns=["Name","Ticket","Age","Cabin"], inplace=True)

In [11]:
X = df.drop(columns="Survived") 
y = df['Survived']

X_train , X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,stratify=y, random_state=42)
X_train.shape , X_test.shape, y_train.shape, y_test.shape

((712, 6), (179, 6), (712,), (179,))

### Preprosessor

In [13]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [21]:
numerical_pipeline = Pipeline([
    ("Imputer",SimpleImputer(strategy="mean")),
    ("Scaler", MinMaxScaler())
])
categorcal_pipeline = Pipeline([
    ("Imputer",SimpleImputer(strategy="most_frequent")),
    ("onehotencoding", OneHotEncoder())
])

In [22]:
from sklearn.compose import ColumnTransformer

In [23]:
X_train.head()

             Pclass     Sex  SibSp  Parch      Fare Embarked
PassengerId
693               3    male      0      0   56.4958        S
482               2    male      0      0    0.0000        S
528               1    male      0      0  221.7792        S
856               3  female      0      1    9.3500        S
802               2  female      1      1   26.2500        S

In [26]:
preprocessor = ColumnTransformer([
    ("numeric", numerical_pipeline,["SibSp","Parch","Fare"]),
    ("Categorical", categorcal_pipeline,["Sex","Pclass","Embarked"])
])

### Pipeline

In [27]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
pipeline = Pipeline([
    ("Prep",preprocessor),
    ("algo",KNeighborsClassifier())
])