In [1]:
import requests
import pandas as pd

berikut beberapa API gratis yang bisa kita pakai untuk belajar:
- [Joke Api](https://github.com/15Dkatz/official_joke_api)
  - Random joke:`https://official-joke-api.appspot.com/jokes/random`
  - 10 random jokes: `https://official-joke-api.appspot.com/jokes/ten`
- [Nama2Gender Api](https://genderize.io/)
  - input nama : `https://api.genderize.io?name=peter`
  - input negara : `https://api.genderize.io?name=peter&country_id=US`
- [Public Holiday Api](https://date.nager.at/Api)
- [xkcd comic API](https://xkcd.com/json.html)
  - comic terbaru: `http://xkcd.com/info.0.json`
  - comic ke-614 : `http://xkcd.com/614/info.0.json`

# Get Request

In [2]:
r = requests.get("https://official-joke-api.appspot.com/jokes/random")

In [3]:
r.status_code

200

In [4]:
r.text

'{"id":219,"type":"general","setup":"What do you call a girl between two posts?","punchline":"Annette."}'

In [5]:
r.json()

{'id': 219,
 'type': 'general',
 'setup': 'What do you call a girl between two posts?',
 'punchline': 'Annette.'}

# GET Request denga parameter

In [6]:
r = requests.get("https://api.genderize.io")

In [7]:
r.status_code

422

HTTP Status Code

   - 1 1xx Respon informasi
   - 2 2xx Sukses
   - 3 3xx Pengalihan
   - 4 4xx Klien error
   - 5 5xx Kesalahan Server

In [8]:
r.json()

{'error': "Missing 'name' parameter"}

### Input parameter pakai ?

In [9]:
r = requests.get("https://api.genderize.io?name=juki")
r.status_code

200

In [10]:
r.json()

{'name': 'juki', 'gender': 'male', 'probability': 0.71, 'count': 133}

### Input parameter pakai dictionary

In [11]:
params ={
    "name":"juki",
    "country_id":"ID"
}
r = requests.get("https://api.genderize.io",params=params)
r.status_code

200

In [12]:
r.json()

{'name': 'juki',
 'gender': 'male',
 'probability': 1,
 'count': 15,
 'country_id': 'ID'}

# Case 1
ekstract hari libur di indonesia tahun 2021 menggunakan [Public Holiday Api](https://date.nager.at/Api)

In [13]:
# params = {
#     "Year":2021,
#     "CountryCode":"ID"
# }

r =requests.get("https://date.nager.at/Api/v2/PublicHolidays/2021/ID")
r.status_code

200

In [14]:
pd.DataFrame(r.json())

,date,localName,name,countryCode,fixed,global,counties,launchYear,type
0,2021-01-01,Tahun Baru Masehi,New Year's Day,ID,True,True,None,NaN,Public
1,2021-04-02,Wafat Isa Almasih,Good Friday,ID,False,True,None,NaN,Public
2,2021-04-04,Paskah,Easter Sunday,ID,False,True,None,NaN,Public
3,2021-05-01,Hari Buruh Internasional,Labour Day,ID,True,True,None,NaN,Public
4,2021-05-14,Kenaikan Isa Almasih,Ascension Day,ID,False,True,None,NaN,Public
5,2021-06-01,Hari Lahir Pancasila,Pancasila Day,ID,True,True,None,2017.0,Public
6,2021-08-17,Hari Ulang Tahun Kemerdekaan Republik Indonesia,Independence Day,ID,True,True,None,NaN,Public
7,2021-12-25,Hari Raya Natal,Christmas Day,ID,True,True,None,NaN,Public

# Case 2: Zodiak

1. [Random User generator API](https://randomuser.me)
  - generate : `https://randomuser.me/api/`
2. [Zodiak API](https://github.com/bachors/apiapi#tanggal-lahiran-pasaran-zodiak)
 - url: `https://script.google.com/macros/exec`

#### Task 1

In [15]:
r = requests.get("https://randomuser.me/api/")
r.status_code

200

In [16]:
result = r.json()
result

{'results': [{'gender': 'male',
   'name': {'title': 'Mr', 'first': 'Jesse', 'last': 'Burns'},
   'location': {'street': {'number': 8147, 'name': 'Kingsway'},
    'city': 'Ripon',
    'state': 'East Sussex',
    'country': 'United Kingdom',
    'postcode': 'RD1G 6RY',
    'coordinates': {'latitude': '8.2827', 'longitude': '-120.2833'},
    'timezone': {'offset': '-6:00',
     'description': 'Central Time (US & Canada), Mexico City'}},
   'email': 'jesse.burns@example.com',
   'login': {'uuid': '713d5b5c-5b0a-484b-95de-ccbc7e8908f2',
    'username': 'ticklishwolf822',
    'password': 'eagle1',
    'salt': 'vScOIsRu',
    'md5': '91cd366cea2a9b6ad4f0835ba1c29445',
    'sha1': '20a305974e6c771ce28be3bbb197482f85c91b8c',
    'sha256': 'b4cc58d8d3a20bddd11d9f702b563fad86ad7c828aa2472e02557f7f1d08ee06'},
   'dob': {'date': '1985-10-07T07:04:28.136Z', 'age': 36},
   'registered': {'date': '2014-10-19T22:40:18.101Z', 'age': 7},
   'phone': '016977 4202',
   'cell': '0716-096-484',
   'id': {'name': 'NINO', 'value': 'MP 66 19 87 A'},
   'picture': {'large': 'https://randomuser.me/api/portraits/men/79.jpg',
    'medium': 'https://randomuser.me/api/portraits/med/men/79.jpg',
    'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/79.jpg'},
   'nat': 'GB'}],
 'info': {'seed': '7c64f935affc1732',
  'results': 1,
  'page': 1,
  'version': '1.3'}}

#### Pharsing

In [17]:
info = result["results"][0]

In [18]:
info["name"]["first"]

'Jesse'

In [19]:
biodata ={
    "born":info["dob"]["date"],
    "gender":info["gender"],
    "first_name":info["name"]["first"],
    "last_name":info["name"]["last"]
}
biodata

{'born': '1985-10-07T07:04:28.136Z',
 'gender': 'male',
 'first_name': 'Jesse',
 'last_name': 'Burns'}

In [20]:
from dateutil import parser
date = parser.parse(biodata["born"])
date = date.strftime("%d-%m-%Y")
date

'07-10-1985'

# Post Request

In [21]:
data = {
    "email": "eve.holt@reqres.in",
    "password": "cityslicka"
}

requests.post('https://reqres.in/api/login', data =data)
r.status_code

200

In [22]:
r.json()

{'results': [{'gender': 'male',
   'name': {'title': 'Mr', 'first': 'Jesse', 'last': 'Burns'},
   'location': {'street': {'number': 8147, 'name': 'Kingsway'},
    'city': 'Ripon',
    'state': 'East Sussex',
    'country': 'United Kingdom',
    'postcode': 'RD1G 6RY',
    'coordinates': {'latitude': '8.2827', 'longitude': '-120.2833'},
    'timezone': {'offset': '-6:00',
     'description': 'Central Time (US & Canada), Mexico City'}},
   'email': 'jesse.burns@example.com',
   'login': {'uuid': '713d5b5c-5b0a-484b-95de-ccbc7e8908f2',
    'username': 'ticklishwolf822',
    'password': 'eagle1',
    'salt': 'vScOIsRu',
    'md5': '91cd366cea2a9b6ad4f0835ba1c29445',
    'sha1': '20a305974e6c771ce28be3bbb197482f85c91b8c',
    'sha256': 'b4cc58d8d3a20bddd11d9f702b563fad86ad7c828aa2472e02557f7f1d08ee06'},
   'dob': {'date': '1985-10-07T07:04:28.136Z', 'age': 36},
   'registered': {'date': '2014-10-19T22:40:18.101Z', 'age': 7},
   'phone': '016977 4202',
   'cell': '0716-096-484',
   'id': {'name': 'NINO', 'value': 'MP 66 19 87 A'},
   'picture': {'large': 'https://randomuser.me/api/portraits/men/79.jpg',
    'medium': 'https://randomuser.me/api/portraits/med/men/79.jpg',
    'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/79.jpg'},
   'nat': 'GB'}],
 'info': {'seed': '7c64f935affc1732',
  'results': 1,
  'page': 1,
  'version': '1.3'}}